.reminder-container {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  border-radius: 4px;
  padding-left: 4px;
  color: black;
  font-weight: 400;
}
.close {
  right: 0;
  top: 0;
  padding: 10px;
  cursor: pointer;
}
