.columns7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  /* border-top: 1px solid black; */
  border-left: 1px solid grey;
}

.columns7 > div {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}
